*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Local .env files
.env.local
.env

# Editor directories
.idea
.vscode
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db
